.card {
    width: 100%;
    background-color: #fff;
    padding: 2rem 2rem;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
}